.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column
}

.input {
  border: 0;
  background: none;
  padding: 8px;
}

.editor {
  flex: 1;
}

.cm-editor {
  height: 100%;
}

.links {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 12px;
}