*,
*::before,
*::after {
  box-sizing: border-box;
}

$code-font: Menlo, Monaco, Consolas, monospace;

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
  flex: 1;
}

.input {
  border: 0;
  background: none;
  padding: 8px;
  display: block;
  width: 100%;
  transition: background ease 0.4s;
  word-break: break-all;
  font-family: $code-font;

  &:focus {
    outline: none;
  }
}

.input-actions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  top: 4px;
  font-size: 12px;
}

.input-type {
  color: #999;
  pointer-events: none;
}

.copy-btn {
  width: 54px;
  background: #f0f0f0;
  border: 0;
  padding: 2px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 8px;
}

.copy-btn:hover {
  background: #e4e4e4;
}

.header {
  display: flex;

  &.copied {
    .input {
      background: #efe;
    }
  }
}

.editor {
  flex: 1;
}

.cm-editor {
  height: 100%;

  .cm-scroller {
    font-family: $code-font;
  }
}

.links {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 12px;
}

.editor {
  border-top: 1px solid #ccc;
  flex: 1;
  overflow: hidden;
}
